/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size--border-radius: 4px;
  --size--avatar: 220px;

  /* Annimation */
  --animation--duration: 300ms;
}

/* Universal tag */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */

#navbar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  transition: all var(--animation--duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-pink);
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  display: flex;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  align-items: center;
}

.navbar__logo img {
  width: 70px;
  height: 70px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size--border-radius);
  border: 1px solid transparent;
  white-space: nowrap;
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-pink);
}

.navbar__toggle_btn {
  position: absolute;
  top: 34px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */

#home {
  background: url("images/home-background.png") no-repeat center/cover;
  text-align: center;
  padding: 30px;
}

.home__avatar {
  width: var(--size--avatar);
  height: auto;
  border: 3px solid var(--color-dark-grey);
  border-radius: 50%;
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: var(--size--border-radius);
  text-transform: uppercase;
  padding: 8px 12px;
  margin: 24px;
}

.home__contact:hover {
  background-color: var(--color-orange);
}

/* Section common */
.section {
  padding: 80px;
  text-align: center;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */

.about__major {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  margin-bottom: 16px;
}

.major__icon i {
  transition: all var(--animation--duration) ease;
}

.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}

.job__img {
  width: 50px;
  height: 50px;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skills */

#skills {
  background-color: var(--color-yellow);
}

.skills__description {
  max-width: 80%;
  margin: 0 auto;
}

.skillset {
  display: flex;
  justify-content: center;
  color: var(--color-light-white);
  margin: 40px 0 70px 0;
}

.skillset__left {
  background-color: var(--color-dark-grey);
  flex-basis: 60%;
  padding: 0 50px 20px 50px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill {
  margin-bottom: 20px;
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.skillset__title {
  color: var(--color-white);
  margin: 0;
  padding: 20px 0;
}

.tools {
  background-color: var(--color-grey);
  flex-basis: 60%;
}

.etc {
  background-color: var(--color-light-grey);
  flex-basis: 40%;
}

.tools__list,
.etc__list {
  margin-top: 0;
}

/* Work */

.work__categories {
  display: flex;
  justify-content: center;
  margin: 40px;
  white-space: nowrap;
  flex-wrap: wrap;
}

.categories__btn {
  padding: 8px 48px;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size--border-radius);
  font-size: var(--font-regular);
  position: relative;
}

.categories__btn.selected,
.categories__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.categories__btn.selected .categories__count,
.categories__btn:hover .categories__count {
  opacity: 1;
  top: 0;
}

.categories__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation--duration) ease-in;
}

.work__projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: all var(--animation--duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  background-color: var(--color-light-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  width: 240px;
  height: 250px;
}

.project__img {
  max-width: 90%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation--duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

.project.invisible {
  display: none;
}

/* Testimonials */

#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.testimonial {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 12px;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  line-height: 100%;
  padding: 15px;
}

.testimonial__speech-bubble .text {
  color: var(--color-light-grey);
  line-height: 20px;
}

.testimonial__speech-bubble .name {
  margin-top: 10px;
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-dark-pink);
}

/* Contact */

#contact {
  background-color: var(--color-pink);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__email {
  font-weight: var(--weight-bold);
}

.contact__links {
  margin: 20px 0;
  font-size: var(--font-large);
}

.contact__links i {
  transition: all var(--animation--duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.2);
  color: var(--color-blue);
}

.contact__rights {
  font-size: var(--font-micro);
  color: var(--color-light-white);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle_btn {
    display: block;
  }
  #navbar {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }

  .navbar__toggle_btn {
    display: block;
    top: 23px;
    right: 16px;
    font-size: var(--font-medium);
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 50px;
  }

  .about__major {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .categories__btn {
    margin: 1px 0;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
  }

  .testimonial__avatar {
    width: 120px;
    height: 120px;
  }

  .testimonial__avatar:nth-child(even),
  .testimonial__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
